@media(min-width:1900px){
    .cabecalho img{
        width: 30rem;
    }

    .principal{
        height: 75vh;
    }

    .principal .imagem-mockups img{
        width: 125rem;
    }

    .principal .informacao-principal .titulo-principal{
        font-size: 5rem;
    }

    .principal .informacao-principal .texto-principal{
        font-size: 2rem;
    }

    .principal .informacao-principal .btn-cta{
        padding: 3rem 9rem;
        font-size: 2rem;
    }

    .rodape .social a{
        height: 6rem;
        width: 6rem;
        font-size: 2.4rem;
    }
}

@media(min-width:1025px){
    .cabecalho img{
        width: 27rem;
    }

    .principal{
        height: 60vh;
    }

    .principal .imagem-mockups img{
        width: 100rem;
    }


    .principal .informacao-principal .btn-cta{
        padding: 2rem 9rem;
        font-size: 1.9rem;
    }
}

@media(max-width: 688px){

    body{
        background: var(--primaria) url(../images/bg-mobile.svg) no-repeat;
        background-size: 150%;
    }

    .cabecalho{
        display: flex;
        justify-content: center;
    }

    .principal{
        display: flex;
        flex-direction: column;
    }

    .principal .imagem-mockups img{
        max-width: 50rem;
    }

    .principal .informacao-principal{
        display: flex;
        align-items: center;
        text-align: center;
        gap: 20px;
    }

    .principal .informacao-principal .btn-cta{
        margin-top: 7rem;
        padding: 2rem 10rem;
    }

    .rodape{
        justify-content: center;
        margin-right: 0;
        margin-top: 3rem;
    }
}

@media(max-width: 475px){
    body{
        background: var(--primaria) url(../images/bg-mobile.svg) no-repeat;
        background-size: 100%;
    }


    .cabecalho img{
        width: 100%;
    }

    .principal{
        margin: 3.5rem;
    }

    .principal .imagem-mockups img{
        max-width: 30rem;
    }

    .principal .informacao-principal .titulo-principal{
        font-size: 2.2rem;
    }

    .principal .informacao-principal .texto-principal{
        font-size: 1.4rem;
    }

    .principal .informacao-principal .btn-cta{
        margin-top: 3rem;
    }

    .rodape{
        margin-top: 10rem;
    }

    .rodape .social a{
        width: 4rem;
        height: 4rem;
        font-size: 1.6rem;
    }
}

@media(max-width: 400px){
    .principal .informacao-principal .btn-cta{
        margin-top: 0rem;
        padding: 1.5rem 9rem;
    }

    .rodape{
        margin-top: 0rem;
    }
}